LOG_LEVEL=error
LOG_COLORED=false
SWAGGER_ENABLED=false
INTERNAL_SERVER_URL=http://0.0.0.0:8000
PUBLIC_SERVER_URL=http://localhost:8000
PUBLIC_CLIENT_URL=https://nyan.stream
DATABASE_URL=postgresql://postgres:changeme@localhost:5432/snat
MASTER_TOKEN=MASTER_TOKEN
JWT_SECRET=JWT_SECRET
DISCORD_CLIENT_ID=DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET=DISCORD_CLIENT_SECRET
SERVER_TLS_CERT_PATH=
SERVER_TLS_KEY_PATH=
